/* variables, font and reset */
:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --darkGrey: hsl(0, 0%, 12%);
    --offBlack: hsl(0, 0%, 8%);
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');


* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}


/* Body */
body {
    font-family: 'Inter', sans-serif;
    font-size:0.875rem; /* Base font-size 14px? */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--offBlack);
    padding: 1rem; /* (added 1rem padding to test on mobile) */ 
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 20rem; /* Min-width (20rem = 320px) here?*/
    width: 24rem;
}
/* Profile card component */
.profile-card {
    border-radius: 1.25rem;
    background-color: var(--darkGrey);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    color: var(--white);
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

/* User Info category (avatar, name, location & bio) */
.profile-userinfo {
    width: 90%;
}
.profile-userinfo img{
    /* aspect-ratio: 1 / 1; */
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 1rem 0;
}
.profile-userinfo h3 {
    font-size: 1.7em;
    font-weight: 400;
}

.userinfo_location {
    color: var(--green);
    font-size:.9em;
    font-weight: 600;
    margin: 1rem 0;
}

.userinfo_bio {
    margin-top: 2rem;
    font-size: .9em;
    font-weight: 400;
    color: var(--white);
}

/* Links category */
.profile-links {
    margin-top: 1.5rem;
    width: 100%;
}

.profile-links li {
    list-style-type: none;   
}

.profile-links a {
    text-decoration: none;
    color: var(--white);
    font-weight: 700;
    transition: .3s ease;
    display: block;
    background-color: var(--grey);
    padding: .7rem;
    cursor: pointer;
    border-radius: .5rem;
    margin-bottom: 1rem;
}

.profile-links a:hover {
    background-color: var(--green);
    color: var(--darkGrey);
}

footer {
    color: var(--white);
    text-align: center;
    min-height: 1rem;
}

footer a {
    font-weight: 600;
    color: var(--green);
}